<div class="container">
    <div class="row">
        <div class="col-4 offset-md-2 border-bottom border-right">
            Joueur
        </div>
        <div class="col-2 border-bottom text-center">
            Nombre de ticket
        </div>
        <div class="col-4">

        </div>
    </div>

    <div class="row" style="margin-top: 0.5em; margin-bottom: 0.5em;">
            <div class="col-4 offset-md-2">
                Sam
            </div>
            <div class="col-2 text-center">
                4
            </div>
            <div class="col-4">
                <button class="btn btn-warning btn-sm my-auto"
                        style="margin-right: 0.5em; margin-left: 1em">
                    <i class="material-icons align-middle">
                        edit
                    </i>
                </button>
                <button class="btn btn-danger btn-sm my-auto">
                    <i class="material-icons align-middle">
                        close
                    </i>
                </button>
            </div>
        </div>
</div>
<div class="container">
    <div class="row align-middle">
        <div class="col-4 offset-md-2 my-auto">
            <input type="text" name="name" id="name">
        </div>
        <div class="col-2 my-auto">
            <input type="text" name="nbT" id="nbT">
        </div>
        <div class="col-4" >
            <button class="btn btn-success btn-sm my-auto"
                    style="margin-left: 1em;">
                        <i class="material-icons align-middle">
                            check
                        </i>
            </button>
        </div>
   </div>
</div>