<div class="container">
    <!--En-tête-->
    <div class="row">
        <div class="col-4 offset-md-2 border-bottom border-right">
            Joueur
        </div>
        <div class="col-2 border-bottom text-center">
            Nombre de ticket
        </div>
        <div class="col-4">

        </div>
    </div>
    <!--Liste participant-->
    <div class="container" 
         *ngFor="let p of participantService.getAllParticipant(); let i=index">
        <div class="row" style="margin-top: 0.5em; margin-bottom: 0.5em;">
            <div class="col-4 offset-md-2">
                {{p.name}}
            </div>
            <div class="col-2 text-center">
                {{p.nbTicket}}
            </div>
            <div class="col-4">
                <button class="btn btn-warning btn-sm my-auto"
                        style="margin-right: 0.5em; margin-left: 1em"
                        (click) = 'updateStatus(i)'>
                    <i class="material-icons align-middle">
                        edit
                    </i>
                </button>
                <button class="btn btn-danger btn-sm my-auto"
                        (click)="deleteAParticipant(i)">
                    <i class="material-icons align-middle">
                        close
                    </i>
                </button>
            </div>
        </div>
   <!-- Mise à jour-->
        <div class="row align-middle hide"
             style="margin-top: 0.5em; margin-bottom: 0.5em;"
             id="updateLine{{i}}">
            <div class="col-4 offset-md-2 my-auto">
                <input type="text" name="nameUpdt" id="nameUpdt{{i}}" value="{{p.name}}" 
                       style="width: 90%;">
            </div>
            <div class="col-2 my-auto text-center text-center">
                <input type="text" name="nbTUpdt" id="nbTUpdt{{i}}" value="{{p.nbTicket}}"
                       style="width: 4em;">
            </div>
            <div class="col-4" >
                <button class="btn btn-success btn-sm my-auto"
                        style="margin-left: 1em;" (click)="updateParticipant(i)">
                    <i class="material-icons align-middle">
                        check
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
<!--Ajout de participant-->
<div class="container">
    <div class="row align-middle">
        <div class="col-4 offset-md-2 my-auto">
            <input type="text" name="name" id="name" value="" 
                   style="width: 90%;">
        </div>
        <div class="col-2 my-auto text-center">
            <input type="text" name="nbT" id="nbT" value=""
                   style="width: 4em;">
        </div>
        <div class="col-4" >
            <button class="btn btn-success btn-sm my-auto"
                    style="margin-left: 1em;" (click)="addParticipant()">
                        <i class="material-icons align-middle">
                            check
                        </i>
            </button>
        </div>
   </div>
</div>
<!--Sauvegarder-->
<div class="container" style="margin-top: 1em;">
    <div class="row">
        <div class="col-1 offset-md-8">
            <button class="btn btn-primary">Sauvegarder</button>
        </div>
    </div>
</div>