.navBar {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 80px;
}

.img .logo {
    width: 80px;
}

.img {
    padding-left: 10px;
}

.setting-logo {
    font-size: 80px;
}

.setting-logo:hover {
    font-size: 80px;
    transform: rotate(15deg);
    -webkit-transform : rotate(15deg)
}

.settings {
    padding-left: 10px;
}

.navBtn {
    margin: auto;
}

.setBtn {
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.btn1 {
    margin-right: 1.25em;
    width: 10em;
}

.btn2 {
    margin-left: 1.25em;
    width: 10em;
}

.modalClose {
    font-size : 38px
}

.show {
    padding-right: 0 !important
}

/*Form style*/
form {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.label {
    grid-column: 1 / 2; 
}

input[type="checkbox"] {
    grid-column: 2/3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*hide the original HTML checkbox */
.switch input { 
    opacity: 0;
    width: 0;
    height: 0; 
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /*modal dark mode*/
.modalDarkmode {
    background-color: black;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: .3rem;
    outline: 0;
    color: white;
}

img, .darkmode-ignore {
    position:relative;
    z-index: 15
}