<div class="container" style="margin-top: 0.5em;">
    <div class="row align-item-middle">
        <div class="img align-middle">
            <img id="logo" class="logo" src="./assets/image/logo_dofus.png" alt="logo_dofus">
        </div>
        <div class="text-center col-10 my-auto navBtn">
            <button type="button" class="btn1 btn btn-success" routerLink="list-creation">
                Edition Liste
            </button>    
            <button type="button" class="btn2 btn btn-danger" routerLink="">
                Lotterie
            </button>
        </div>
    </div>
</div>