<div class="container" style="margin-top: 0.5em;">
    <div class="row">
        <div class="img col-2 align-middle">
            <img id="logo" class="logo" src="../assets/image/logo_dofus.png" alt="logo_dofus">
        </div>
        <div class="mx-auto text-center col-10 my-auto">
            <button type="button" class="btn1 btn btn-success" routerLink="list-creation">
                Création Liste
            </button>    
            <button type="button" class="btn2 btn btn-danger" routerLink="">
                Lotterie
            </button>
        </div>
    </div>
</div>