<!-- Nav Bar -->
<div class="navBar darkmode-ignore" style="margin-top: 0.5em;">
        <div class="img darkmode-ignore">
            <img id="logo" class="logo" src="./assets/image/{{ logoPath }}" alt="logo_dofus">
        </div>
        <div class="navBtn darkmode-ignore">
            <button type="button" class="btn1 btn btn-success" routerLink="list-creation">
                Edition Liste
            </button>    
            <button type="button" class="btn2 btn btn-danger" routerLink="">
                Lotterie
            </button>
            <button type="button" class="btn3 btn btn-primary" routerLink="winners-list">
                Liste Gagnants
            </button>
        </div>
        <div class="settings darkmode-ignore">
            <button type="button" class="btn btn-link setBtn" data-toggle="modal" data-target="#settingsModal"> 
                <span class="setting-logo material-icons">
                    settings
                </span>
            </button>
        </div>
</div>

<!-- Modal for Settings -->
<div class="modal fade" id="settingsModal" data-backdrop="static" data-keyboard="false" 
     tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true" style="padding-right: 0;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-tittle" id="settingsModalLabel"> Param&egrave;tres </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons modalClose" aria-hidden="true" [ngStyle]="{color: closeColor()}">
                        close
                    </span>
                  </button>
            </div>
            <div class="modal-body">
                <!-- CheckMark -->
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                    <style type="text/css">
	                    .st0{fill:none;stroke:#00C54D;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    </style>
                    <path class="st0" d="M65.3,95.3l36.5,35.3l61.6-82.7l0,0c11.8,14.1,18.9,32.3,18.9,52.1c0,44.9-36.4,81.3-81.3,81.3
	                    S19.8,144.9,19.8,100s36.4-81.3,81.3-81.3c5.4,0,10.6,0.5,15.7,1.5"/>
                </svg>


                <form #settingsForm="ngForm">
                    <!-- Dark Mode -->
                    <div class="label">Dark Mode</div>
                    <div class="set">
                        <label class = "switch" for="darkMode">
                            <input type="checkbox" name="darkMode" id="darkMode" [(ngModel)]="isChecked">
                            <span class="slider" (click)="darkMode(settingsForm)"></span>
                        </label>
                    </div>
                    
                    
                    <!-- Image Selection -->
                    <div class="label">Image Selection</div>
                    <div class="set">
                            <span class="imgPath">Choix du logo </span>
                            <button type="button" class="btn btn-secondary" 
                                    (click)="chooseAFile()">Select</button>
                    </div>

                    <!-- Reset database -->
                    <div class="label">Remise &agrave; z&eacute;ro de la BDD</div>
                    <div class="set">
                        <button type="button" class="btn btn-danger"
                                (click)="deleteDB()">
                            X
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateSettings()">Enregistrer</button>
            </div>
        </div>
    </div>
</div>