.btn1 {
    margin-right:7.5%;
    width: 10em;
}

.btn2 {
    margin-left:7.5%;
    width: 10em;
}

.logo {
    width: 5em;
}

.img {
    width: 5em;
    z-index: 100;
}

.navBtn {
    margin-left: 1em;
    margin-right: 1em;
    z-index: 1;
}