.navBar {
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: 80px;
}

.img .logo {
    width: 80px;
}

.setting-logo {
    cursor : pointer;
    font-size: 80px;
}

.setting-logo:hover {
    font-size: 80px;
    transform: rotate(15deg);
    -webkit-transform : rotate(15deg)
}

.navBtn {
    margin: auto;
}

.btn1 {
    margin-right: 1.25em;
    width: 10em;
}

.btn2 {
    margin-left: 1.25em;
    width: 10em;
}
