.head {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.winRow {
    
    margin-top:1%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.winner, .date, .prize {
    text-align: center;
}

.winner, .date {
   /*  border-right: 1px solid black; */
}

.winner, .prize {
  /*   border-left : 1px solid black; */
}

.winnerR, .dateR, .prizeR {
    height: 35px;
    text-align: center;
}

.body h5 {
    line-height: 35px;
}

.empty {
    content:"";
}