<div class="container h-100">
    <div class="row text-center my-auto">
        <div class="col">
            <h5 class="align-middle" style="color: red;" *ngIf="show else statut">Attention, aucun participant dans la liste</h5>
            <ng-template #statut> 
                <span>
                    <h5>Nombre de participant : {{this.participantService.getAllParticipant().length}}</h5>
                </span>
                <span>
                    <h5>Nombre de ticket : {{this.participantService.getNumberOfTicket()}}</h5>
                </span>
            </ng-template>
        </div>
    </div>
    <div class="row text-center my-auto">
        <div class="col display-winner">
            <h1 id="displayPlayer">{{displayPlayer}}</h1>
        </div>
    </div>
    <div class="row text-center my-auto">
        <div class="col mx-auto align-middle">
            <button id="go" class="rounded-circle btn btn-primary" 
                    data-toggle="button" aria-pressed="false"
                    (click)="go()">
                <h2>Go !</h2>
            </button>
        </div>
    </div>
</div>
