h1 {
    font-size: 10em;
}

#go {
    width: 10em;
    height: 10em;
}
.col {
    margin-top :1.5em;
    margin-bottom: 1.5em;
}
.display-winner {
    height: 10em;
}

.win {
    animation: winner 10s ease infinite;
}

@keyframes winner {
    0% {color: red;}
    10% {color: orange;}
    20% {color: yellow;}
    30% {color: green;}
    40% {color: blue;}
    50% {color: purple;}
    60% {color: blue;}
    70% {color: green;}
    80% {color: yellow;}
    90% {color: orange;}
    100% {color: red;}
}

.text {
    position: relative;
    z-index: 15;
}

.slider-text-container {
    position: relative;
    overflow: hidden;
}

.slider-text {
    display: inline-block;
    position: relative;
    font-weight: bolder;
    animation: slideText 15s linear infinite;
}

@keyframes slideText {
    0% {transform: translateX(200%);} 
    100% {transform: translateX(-200%);} 
}
