<nav class="header-nav darkmode-ignore">
    <div class="title">
        <span style="color:blue">Lot</span><span style="color: white">te</span><span style="color:red">rie</span>
    </div>
    <div class="icons">
        <div class="icon" (click)="closeWindow()">
            <span class="material-icons icon-close">close</span>
        </div>
        <div class="icon" (click)="minimizeWindow()">
            <span class="material-icons icon-remove">remove</span>
        </div>
    </div>    
</nav>